@model  Layoutmvc.Models.EMPDATA
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm("Insert", "EMP"))
{
    <table>
        <tr>
            <td>Empno</td>
            <td>@Html.TextBoxFor(a => a.EMPNO)</td>
        </tr>
        <tr>
            <td>Ename</td>
            <td>@Html.TextBoxFor(a => a.ENAME)</td>
        </tr>
        <tr>
            <td>Job</td>
            <td>@Html.TextBoxFor(a => a.JOB)</td>
        </tr>
        <tr>
            <td>MGR</td>
            <td>@Html.TextBoxFor(a => a.MGR)</td>
        </tr>
        <tr>
            <td>Hiredate</td>
            <td>@Html.TextBoxFor(a => a.HIREDATE)</td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>@Html.TextBoxFor(a => a.SAL)</td>
        </tr>
        <tr>
            <td>Commission</td>
            <td>@Html.TextBoxFor(a => a.COMM)</td>
        </tr>
        <tr>
            <td>Deptno</td>
            <td>@Html.TextBoxFor(a => a.DEPTNO)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Insert" /></td>
        </tr>
    </table>
    if (ViewBag.msg != null)
    {
        <h3>@ViewBag.msg</h3>
    }
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

