@model  Layoutmvc.Models.EMPDATA
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";

}

<h2>Edit</h2>
@using (Html.BeginForm("Editbtn", "EMP"))
{
    <table>
        <tr>
            <td>Empno</td>
            <td>@Html.TextBoxFor(a => a.EMPNO)</td>
        </tr>
        <tr>
            <td>Ename</td>
            <td>@Html.TextBoxFor(a => a.ENAME)</td>
        </tr>
        <tr>
            <td>Job</td>
            <td>@Html.TextBoxFor(a => a.JOB)</td>
        </tr>
        <tr>
            <td>MGR</td>
            <td>@Html.TextBoxFor(a => a.MGR)</td>
        </tr>
        <tr>
            <td>Hiredate</td>
            <td>@Html.TextBoxFor(a => a.HIREDATE)</td>
        </tr>
        <tr>
            <td>Sal</td>
            <td>@Html.TextBoxFor(a => a.SAL)</td>
        </tr>
        <tr>
            <td>Commission</td>
            <td>@Html.TextBoxFor(a => a.COMM)</td>
        </tr>
        <tr>
            <td>Deptno</td>
            <td>@Html.TextBoxFor(a => a.DEPTNO)</td>
        </tr>

    </table>
    <table>
        <tr>
            <input type="submit" value="edit" />
        </tr>
    </table>
    if (ViewBag.msg != null)
    {
        @ViewBag.msg;
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

