@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<h2>Index</h2>
@using (Html.BeginForm("SubmitBtn","CheckBox"))
{   
<table>
    <tr>
        <td>EMPNO</td>
        <td>ENAME</td>
        <td>JOB</td>
        <td>MGR</td>
        <td>HIREDATE</td>
        <td>SAL</td>
        <td>COMM</td>
        <td>DEPTNO</td>
    </tr>
   
    @foreach (var i in ViewBag.S as IList<Layoutmvc.Models.EMPDATA>)
    {
        <tr>
            <td>@Html.CheckBox("chk",new { @value = i.EMPNO })</td>
            <td>@i.EMPNO</td>
            <td>@i.ENAME</td>
            <td>@i.JOB</td>
            <td>@i.MGR</td>
            <td>@i.HIREDATE</td>
            <td>@i.SAL</td>
            <td>@i.COMM</td>
            <td>@i.DEPTNO</td>
        </tr>
    }
</table>
        <table>
            <tr>
                <td><input type="submit" value="submit" /></td>
            </tr>
        </table>
}

