
@{
    ViewBag.Title = "SubmitBtn";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}

<h2>SubmitBtn</h2>
@using (Html.BeginForm())
{
    if (ViewBag.S != null)
    {
    <table border="1">
    <tr>
        <td>EMPNO</td>
        <td>ENAME</td>
        <td>JOB</td>
        <td>MGR</td>
        <td>HIREDATE</td>
        <td>SAL</td>
        <td>COMM</td>
        <td>DEPTNO</td>
    </tr>
    @foreach (var i in ViewBag.S as IList<Layoutmvc.Models.EMPDATA>)
    {
        <tr>
            <td>@i.EMPNO</td>
            <td>@i.ENAME</td>
            <td>@i.JOB</td>
            <td>@i.MGR</td>
            <td>@i.HIREDATE</td>
            <td>@i.SAL</td>
            <td>@i.COMM</td>
            <td>@i.DEPTNO</td>
        </tr>
    }
    
</table>
        }
    }

